@import "tailwindcss";

@layer base {
  body {
    background-color: var(--color-indigo-900);
    min-height: 100vh;
    color: var(--color-gray-50);
    padding: 1rem 2rem ;
    /* antialiased deixa as fontes mais nítidas em telas modernas */
  }
}

.task-checkbox:checked::before {
    content: '✓';
    color: #008000;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}