@import "tailwindcss";

.task-checkbox:checked::before {
    content: '✓';
    color: #008000;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}