@import "tailwindcss";

@layer base {
  body {
    background-color: var(--color-indigo-900);
    min-height: 100vh;
    color: var(--color-gray-50);
    padding: 1rem 2rem;
  }
}

/* Animação de entrada: Esquerda para o Centro */
@keyframes slideFromLeft {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

.animate-in {
  animation: slideFromLeft 0.5s ease-out forwards;
}

.task-checkbox:checked::before {
    content: '✓';
    color: #008000;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}